/*! Sección Presentación */

.home__presentacion {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100vh;
	padding: 0 30px;
	background-color: #141414;
}

@media (min-width: 960px) {
	.home__presentacion {
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		background-color: #fff;
	}
}

.presentacion__img-perfil {
	display: none;
}

@media (min-width: 960px) {
	.presentacion__img-perfil {
		display: initial;
		height: 510px;
		border-radius: 20px;
		background: linear-gradient(145deg, #ffffff, #e6e6e6);
		box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
	}
}

@media (min-width: 960px) {
	.presentacion__sobre-mi {
		min-width: 400px;
		max-width: 600px;
		padding: 30px;
	}
}

.sobre-mi__titulo {
	margin: 0 auto;
	padding: 30px 0;
	font-family: "Montserrat", sans-serif;
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	color: #fafafa;
}

@media (min-width: 960px) {
	.sobre-mi__titulo {
		padding-top: 0;
		text-align: justify;
		color: #2c2c2c;
	}
}

.sobre-mi__descripcion {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: justify;
	color: #fafafa;
}

@media (min-width: 768px) {
	.sobre-mi__descripcion {
		font-size: 20px;
	}
}

@media (min-width: 960px) {
	.sobre-mi__descripcion {
		color: #2c2c2c;
	}
}

.presentacion__img-icon {
	width: 170px;
	margin: 15px auto;
}

@media (min-width: 960px) {
	.presentacion__img-icon {
		display: none;
	}
}
